* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column
}
@media (min-width: 992px) {
    .backGround {
        background: url("https://campaigns-test.scdn.co/images/premium_dancer.png")  no-repeat, url('../imgs/premium.jpg') repeat;
        background-size: 450px, cover;
        background-position: right bottom, left top;
        /*background: url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;*/
        position: relative;
    }
}
@media (min-width: 992px){
    .brand {
        position : relative;
        background-color: black;
        top: 0;
        width: 100%;
        z-index: 2;
        min-height: 54px;
    }
}
.brandMain{
    display :flex;
    margin: 0 auto;
    width: 1000px;
}
.imgbrand {
    display : flex;
    align-items: center;
    width: 30%;
}

@media (min-width: 992px){
    .navigation{
        display: inline-block;
    }
}
.navigation{
    width: 70%;
}
.thongtinbrand {
    display: flex;
    justify-content: flex-end;
}
.thongtin_brand {
    padding: 28px 17px;
    margin: 0;
    list-style: none;
}
.thongtin_brand a{
    text-decoration: none;
    /*font-family: 'Roboto', sans-serif;*/
    color: white;
    font-size:16px;
    line-height:24px;
    font-weight: bolder;
}
.ngancachbrand  {
    margin: auto 17px;
    padding: 0;
    color: white;
    list-style: none
}
.bodyMain {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.bodyMain .homeTitle{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 20px 50px 20px;
}
.text {
    line-height: 2;
    margin-top: 0;
    color: black;
    display: block;
    text-align: center;
}
h1{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2pt;
    line-height: 2;
}
.bodyMain .homeTitle h5{
    padding-top: 30px;
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: -0.04em;
}

.downloadButton{
    margin: 0 auto;
    width: 15.5%;
    padding-bottom: 200px;
}

.container button{
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
    justify-items: center;
    vertical-align: middle;
    background-color: #1DB954;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    cursor: pointer;
}
.downloadButton a {
    text-decoration: none;
    color: white;
}
.downloadButton span{
    font-family: inherit;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    letter-spacing: 1.5pt;

}
.reasonForUse .titleArticle{
    text-align: center;
    padding: 3%;
}
@media (min-width: 1200px) {
    .articleList {
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}
.articleList {
    display: flex;
}
@media (min-width: 1000px){
    .articleList .articleListItemContent img{
         vertical-align: top;
         display: block;
         width: 200px;
     }
}
@media (min-width: 768px){
    .articleList .articleListItemContent img{
    flex-grow: 1;
    }
}
.articleList .articleListItemContent img{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.reasonForUse{
    padding: 5% 0 2% 0;
}
@media (min-width: 768px){
    .halfScreen{
        width: 100%;
    }
}
@media (min-width: 1000px){
    .halfScreen{
        width: 50%;
    }
}
.halfScreen .planOption{
    width: 70%;
    margin: 0 auto;
}
.planOption header{
    text-align: center;
    font-size: 16pt;
    padding: 20px;
}
.planOption .plan{
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    height:500px;
    position: relative;
}
.planOption .plan .text {
    display: inline-block;
    text-align: left;
}
.planOption .plan .text span{
    border-radius: 10px;
    padding: 4px 10px;
    background-color: rgb(63, 158, 215);
    border: 1px solid rgb(63, 122, 180);
    color: white;
    margin-bottom: 10%;
}
/*làm tiepsep từ chô này*/
.paymentMethod{
    padding-bottom: 20%;
}
.paymentMethod img{
    width: 100%;
    padding-bottom: 4%;
}
.creditcard img{
    width: 80%;
}

.planButton{
    background-color: white;
    position: absolute;
    bottom:24%;
    left:27%;
}
.paymentMethod select{
    border-radius: 10px;
    padding: 2%;
}
.plan .termAndCondition{
    position: absolute;
    bottom:3%;
}
footer  {
    color: white;
    background-color: black;
    padding : 80px 0 50px 0;
}

.footer1 {
    display: flex;
}
.left_footer {
    width: 70%;
    display :flex;
}
.right_footer  {
    width: 30%;
    display : flex;
    justify-content: flex-end;
    margin-top:20px;
}
.img_footer {
    width: 25%;
}
.thongtin_footer {
    width: 25%;
}
.thumnuc_thongtin_footer  {
    width: 80%;
    line-height:24px;
    font-weight:400;
    font-size:16px;
    padding: 3px 0 15px 0;
    margin: 0;


}
.thumnucdau_thongtin_footer {
    margin: 20px 0;
    font-size:12px;
    font-weight:900;
    letter-spacing:0.96px;
    line-height:16.8px;
    color:rgb(145, 148, 150);
}
.img_hinhanh {
    margin: 0 15px 0 0;
}
.footer2 {
    font-size:12px;
    font-weight:400;
    line-height:18px;
    color:rgb(145, 148, 150);
    margin-top: 30px;
}
.vietnam {
    display :flex;
    justify-content: flex-end;
}
.vietnam p {
    margin: 0;
}
.footer_gioithieu{
    display : flex;
    justify-content: space-between;
}
.footer_gioithieu p {
    margin: 12px 0;
}
.left_footer_gioithieu {
    display : flex;
    padding: 0 0 0 15px;
}
.left_footer_gioithieu p {
    margin-right: 24px;
}



