*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*header*/
.brand {
    position : fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    backdrop-filter: opacity(40%);
}

.brandmain{
    display :flex;
    justify-content: space-between;
}
.imgbrand {
    /* float :left; */
    display : flex;
    align-items: center;
    width: 30%;
}
.thongtinbrand {
    /* float : right; */
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
.thongtin_brand {
    padding: 28px 17px;
    margin: 0px;
    color: white;

}
.thongtin_brand a:focus{
    color: #fff;
    text-decoration: none;
}
.thongtin_brand a:hover,.thongtin_brand a:active{
    color: #1ed760;
    text-decoration: none;
}
.ngancachbrand  {
    margin: auto 17px;
    color: white;
    padding: 0px;
}
.thongtin_brand a {
    color: white;
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
}



/*footer*/

footer  {
    color: white;
    background-color: black;
    padding : 80px 0px 50px 0px;
}

.footer1 {
    display: flex;
}
.left_footer {
    width: 70%;
    display :flex;
}
.right_footer  {
    width: 30%;
    display : flex;
    justify-content: flex-end;
    margin-top:20px;
}
.img_footer {
    width: 25%;
}
.thongtin_footer {
    width: 25%;
}
.thumnuc_thongtin_footer  {
    width: 80%;
    line-height:24px;
    font-weight:400;
    font-size:16px;
    padding: 3px 0px 15px 0px;
    margin: 0px;


}
.thumnuc_thongtin_footer a{
    color: #fff;
}
.thumnuc_thongtin_footer a:hover{
    color: #1ed760;
    text-decoration: none;
}
.thumnucdau_thongtin_footer {
    margin: 20px 0px;
    font-size:12px;
    font-weight:900;
    letter-spacing:0.96px;
    line-height:16.8px;
    color:rgb(145, 148, 150);
    text-transform: uppercase;
}
.img_hinhanh {
    margin: 0px 15px 0px 0px;
}
.footer2 {
    font-size:12px;
    font-weight:400;
    line-height:18px;
    color:rgb(145, 148, 150);
    margin-top: 30px;
}
.vietnam {
    display :flex;
    justify-content: flex-end;
}
.vietnam p {
    margin: 0px;
}
.vietnam a{
    color:rgb(145, 148, 150);
}
.vietnam a:hover{
    color: #1ed760;
    text-decoration: none;
}
.footer_gioithieu{
    display : flex;
    justify-content: space-between;
}
.footer_gioithieu p {
    margin: 12px 0px;
}
.footer_gioithieu a{
    color:rgb(145, 148, 150);
}
.footer_gioithieu a:hover{
    color: #1ed760;
    text-decoration: none;
}
.left_footer_gioithieu {
    display : flex;
    padding: 0px 0px 0px 15px;
}
.left_footer_gioithieu p {
    margin-right: 24px;
}
a {
    color: #1DB954;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #1ED760;
    text-decoration: none;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}






