.bodyMain {
    background-image: url("../imgs/HomPageBackground.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
}
.bodyMain .homeTitle{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 200px 20px 0px 20px;
}
.text1{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
    margin-bottom: 20px;
    color: white;
}
.text2{
    margin: 9px 0 18px;
    color: white;
    font-size: 18px;
}
/*.bodyMain .homeTitle .text {*/
/*    line-height: 1.15;*/
/*    margin-top: 0;*/
/*    color: white;*/
/*    display: block;*/
/*}*/
/*.bodyMain .homeTitle h1{*/
/*    font-size: 60px;*/
/*    font-weight: 900;*/
/*    letter-spacing: 2pt;*/
/*    line-height: 1.15;*/
/*}*/
/*.bodyMain .homeTitle h5{*/
/*    padding-top: 30px;*/
/*    font-size: 14pt;*/
/*    font-weight: lighter;*/
/*    letter-spacing: -0.04em;*/
/*}*/
.downloadButton{
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 10%;
}

.downloadButton button{
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
    vertical-align: middle;
    background-color: #1DB954;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
}
.bt{
    text-decoration: none;
    color: white;
    margin: 16px 0 0;
}
.downloadButton button:hover{
    transform: scale(1.05);
    background-color: #1ed760;
}
.downloadButton button:active{
    transform: none;
    background-color: #14833b;
}
.bt:hover{
    text-decoration: none;
    color: white;
}
.bt:active{
    text-decoration: none;
    color: white;
}
.downloadButton span{
    font-family: inherit;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    letter-spacing: 1.5pt;
}
.space{
    margin-bottom: 10%;
}
.chart{
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);background-color: #131313;background-size: 20px 20px;
    padding-bottom: 50px;
}
.chart li{
    /*background-color: #616467;*/
    border-radius: 50px;
    padding: 20px 50px;
    margin: 20px;
    border: 2px solid #616467;
    background-color: #d4d4d4;
    color: #616467;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 3px 3px #d4d4d4;
}
.chart li:hover{
    background-color: #616467;
    color: #fff;
}
.chart li:active,li:focus{
    background-color: #f2edd9;
    color: #616467;
    border: 2px solid #ffa082;
}
.lt-all,.lt-all:focus{
    border: 2px solid white;
    color: #ff722e;
    transition-duration: 1s;
}
.lt-all:active{
    border: 2px solid #1ed760;
    color: red;
}
.lt-all:hover{
    border: 2px solid red;
    color: yellow;
}
