<div class='container'>
    <div class='footer1'>
        <div class='left_footer'>
            <div class='img_footer'>
                <a href="http://baitapnhom.herokuapp.com"><img src='imgs/img_item_menu.png' width='132px' height='40px' /></a>
            </div>
            <div class='thongtin_footer'>
                <p class='thumnucdau_thongtin_footer'>Công ty</p>
                <p class='thumnuc_thongtin_footer'><a href="#">Giới thiệu</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Việc làm</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">For the Record</a></p>

            </div>
            <div  class='thongtin_footer'>
                <p class='thumnucdau_thongtin_footer'>Cộng đồng</p>
                <p class='thumnuc_thongtin_footer'><a href="#">Dành cho các nghệ sĩ</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Nhà phát triển</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Nhãn hiệu</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Nhà đầu tư</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Nhà cung cấp</a></p>
            </div>
            <div  class='thongtin_footer'>
                <p class='thumnucdau_thongtin_footer'>Liên kết hữu ích</p>
                <p class='thumnuc_thongtin_footer'><a href="#">Trợ giúp</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Trình phát Web</a></p>
                <p class='thumnuc_thongtin_footer'><a href="#">Ứng dụng di động Miễn phí</a></p>
            </div>
        </div>
        <div class='right_footer'>
            <a href="#"><img src='imgs/insta.png' width='54px' height='54px' class='img_hinhanh'/></a>
            <a href="#"><img src='imgs/twitter.png' width='54px' height='54px'class='img_hinhanh' /></a>
            <a href="#"><img src='imgs/fb.png' width='54px' height='54px' /></a>
        </div>
    </div>
    <div class='footer2'>
        <div class='vietnam'>
            <a href="#"><p>Việt Nam &nbsp;&nbsp;<img src="https://sp-bootstrap.global.ssl.fastly.net/8.12.1/images/flags/vn.svg" width="25px" height="20px"/></p></a>
        </div>
        <div class='footer_gioithieu'>
            <div class='left_footer_gioithieu'>
                <p><a href="#">Pháp lý</a></p>
                <p><a href="#">Trung tâm bảo mật</a></p>
                <p><a href="#">Chính sách quyền riêng tư</a></p>
                <p><a href="#">Cookies</a></p>
                <p><a href="#">Giớt thiệu quảng cáo</a></p>
            </div>
            <p>© 2020 Spotify AB</p>
        </div>
    </div>
</div>