<div class='container'>
    <div class='footer2'>
        <div class='vietnam'>
            <a href="https://vi.wikipedia.org/wiki/Ti%E1%BA%BFng_Vi%E1%BB%87t"><p>Việt Nam (Tiếng Việt) &nbsp;&nbsp;<img src="https://sp-bootstrap.global.ssl.fastly.net/8.12.1/images/flags/vn.svg" width="25px" height="20px"/></p></a>
        </div>
        <div class='footer_gioithieu'>
            <div class='left_footer_gioithieu'>
                <p><a href="/support">Pháp lý</a></p>
                <p><a href="/support">Trung tâm bảo mật</a></p>
                <p><a href="/support">Chính sách quyền riêng tư</a></p>
                <p><a href="/support">Cookies</a></p>
                <p><a href="/support">Giớt thiệu quảng cáo</a></p>
            </div>
            <p>© 2020 Spotify AB</p>
        </div>
    </div>
</div>