<div class='container'>
    <div class='brandmain'>
        <div class='imgbrand'>
            <a href='/'><img src='imgs/spotifyIcon.png' width='132px' height='40px'/></a>
        </div>
        <div class='thongtinbrand'>
            <p class='thongtin_brand'><a href='/premium' class="premium">Premium</a></p>
            <p class='thongtin_brand'><a href='/help' class="help">Trợ giúp</a></p>
            <p class='thongtin_brand'><a href='/download' class="down">Tải xuống</a></p>
            <p class='ngancachbrand'>|</p>
            <p class='thongtin_brand'><a href='/signup' class="signup">Đăng ký</a></p>
            <p class='thongtin_brand'><a href='/login' class="login">Đăng nhập</a></p>
        </div>
    </div>
</div>