<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <link rel="stylesheet" href="css/home.css" type="text/css"/>
    <title>Âm nhạc cho mọi người - Spotify</title>

</head>
<body>
<div class='brand'>
    <%- include('header')-%>
</div>
<section class='section bodyMain'>
    <div class="container">
        <div class="homeTitle col-xs-6 col-md-12">
            <h1 class="text1">Âm nhạc cho mọi người.</h1>
            <h5 class="text2">Hàng triệu bài hát. Không cần thẻ tín dụng.</h5>
        </div>
        <div class="downloadButton col-xs-12">
            <div class="col-md-4"></div>
            <a href="download" class="bt"><button class="col-xs-12 col-md-4" type="button">TẢI SPOTIFY MIỄN PHÍ</button></a>
        </div>
    </div>
</section>

<footer >
    <%- include('footer') -%>
</footer>
</body>
</html>