<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <link rel="stylesheet" href="css/premium.css" type="text/css"/>
    <title>Spotify</title>

</head>
<body>
<div class='brand'>
    <%- include('header')-%>
</div>
<section class='section bodyMain col-xs-12 col-md-12'>
    <div class="container">
        <div class="homeTitle col-xs-12">
            <h1 class="text1"><b>Dùng Premium miễn phí trong 1 tháng.</b></h1>
            <h5 class="text2">Chỉ 59000đ/tháng sau đó. Hủy bất kỳ lúc nào.</h5>
        </div>
        <div class="downloadButton col-xs-12">
            <a href='/premium#see' class="bt"><button type="button" class="col-xs-12 col-md-3">Xem gói</button></a>
        </div>
        <div class="termAndCondition col-xs-12">
            <h5 class="text3 col-xs-12 "><a href="https://www.spotify.com/vn-vi/legal/premium-promotional-offer-terms/">Áp dụng điều khoản và điều kiện.</a> Một tháng dùng miễn phí không dành cho người đã dùng gói Premium.</h5>
        </div>
    </div>
</section>

<section class="section reasonForUse">
    <article class="container">
        <header class="titleArticle col-xs-12">
            <h1 class="text4"><b>Lý do dùng Premium ?</b></h1>
        </header>
        <article class="articleList col-xs-12">
            <div class="articleListItemContent col-xs-12 col-md-3">
                <img src="https://campaigns.scdn.co/images/benefit-1.png" alt="Tải nhạc" width="142px" height="142px">
                <div class="text">
                    <span><b>Tải Nhạc.</b></span>
                    <p>Nghe mọi nơi.</p>
                </div>
            </div>
            <div class="articleListItemContent col-xs-12 col-md-3">
                <img src="https://campaigns.scdn.co/images/benefit-2.png" alt="Không bị quảng cáo" width="142px" height="142px">
                <div class="text">
                    <span><b>Không bị quản cáo làm gián đoạn.</b></span>
                    <p>Thưởng thức âm thanh liên tục.</p>
                </div>
            </div>
            <div class="articleListItemContent col-xs-12 col-md-3">
                <img src="https://campaigns.scdn.co/images/benefit-3.png" alt="Phát nhạc bất cứ đâu" width="142px" height="142px">
                <div class="text">
                    <span><b>Phát nhạc bất cứ đâu.</b></span>
                    <p>Kể cả trên di động.</p>
                </div>
            </div>
            <div class="articleListItemContent col-xs-12 col-md-3">
                <img src="https://campaigns.scdn.co/images/benefit-4.png" alt="Chuyển bài hát không giới hạn" width="142px" height="142px">
                <div class="text">
                    <span><b>Chuyển bài hát không giới hạn.</b></span>
                    <p>Cần nhấn nút tiếp.</p>
                </div>
            </div>
        </article>
    </article>
</section>
<section class="section reasonForUse" id="see">
    <article class="container">
        <header class="titleArticle col-xs-12">
            <h1 class="text5"><b>Chọn gói Premium</b></h1>
            <h5 class="text6">Chúng tôi cung cấp các gói như sau</h5>
        </header>
        <article class="articleList col-xs-12">
            <div class="halfScreen col-xs-12 col-md-3">
                <div class="planOption">
                    <header class="text7"><b>Đăng ký bằng thẻ</b></header>
                    <div class="plan">
                        <div>
                            <span class="text8">1 tháng miễn phí</span>
                            <p class="text9"><b>Spotify premium</b></p>
                            <p class="text10">59,000đ/tháng sau đó. Hủy bất kỳ lúc nào.</p>
                        </div>
                        <div class="paymentMethod creditcard">
                            <img src="https://campaigns.scdn.co/images/visa.svg" width="29" height="20">
                            <img src="https://campaigns.scdn.co/images/mastercard.svg" width="29" height="20">
                            <img src="https://campaigns.scdn.co/images/amex.svg" width="29" height="20">
                            <img src="https://campaigns.scdn.co/images/jcb.svg" width="29" height="20">
                        </div>
                        <div class="planButton pB1">
                            <a href="/login" class="bt2"><button type="button">DÙNG PREMIUM</button></a>
                        </div>
                        <div class="termAndCondition">
                            <h5 class="text11">Áp dụng&nbsp;<a href="#">Điều khoản & điều kiện.</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="halfScreen col-xs-12 col-md-3">
                <div class="planOption">
                    <header class="text7"><b>Trả bằng ví Momo</b></header>
                    <div class="plan">
                        <div>
                            <p class="text9"><b>Spotify premium</b></p>
                            <p class="text10">Đủ mọi thứ bạn thích khi dùng Premium, không hề ràng buộc.</p>
                        </div>
                        <div class="paymentMethod">
                            <img src="https://campaigns.scdn.co/images/momo_new.png"  alt="momo, naspas" width="245" height="20">
                            <div class="selectPeriod">
                                <select id="period1">
                                    <option value="0">1 ngày: Giá 5,900đ</option>
                                    <option selected value="1">7 ngày: Giá 19,000đ</option>
                                    <option value="1">7 ngày: Giá 19,000đ</option>
                                    <option value="2">1 tháng: Giá 65,000đ</option>
                                    <option value="3">3 tháng: Giá 195,000đ</option>
                                    <option value="4">6 tháng: Giá 354,000đ</option>
                                    <option value="5">1 năm: Giá 590,000đ</option>
                                </select>
                            </div>
                        </div>
                        <div class="planButton pB2">
                            <a href="/login" class="bt2"><button type="button" >THANH TOÁN</button></a>
                        </div>
                        <div class="termAndCondition">
                            <h5 class="text11"><a href="#">Áp dụng điều khoản.</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </article>
</section>
<footer >
    <%- include('footer') -%>
</footer>
</body>
</html>