<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('head') -%>
    <link rel="stylesheet" href="css/sp.css" type="text/css">
    <title></title>

</head>
<body>
<div class='brand'>
    <%- include('header')-%>
</div>
<div class="bodymain">
    <div class="container">
        <div class="truot">
            <h3 class="topict">Tài khoản & Thanh toán</h3>
            <ul class="text4 ull">
                <li><a href="/support#tgtk">Trợ giúp tài khoản</a></li>
                <li><a href="/support#tgtt">Trợ giúp thanh toán</a></li>
                <li><a href="/support#tcdk">Tùy chọn đăng ký</a></li>
                <li><a href="/support#rtbm">Quyền riêng tư & Bảo mật</a></li>
            </ul>
            <h3 class="topict">Sử dụng Spotify</h3>
            <ul class="text4 ull">
                <li><a href="/support#bd">Bắt đầu</a></li>
                <li><a href="/support#dsp">Danh sách phát</a></li>
                <li><a href="/support#tn">Tính năng</a></li>
                <li><a href="/support#htcd">Hệ thống & Cài đặt</a></li>
                <li><a href="/support#xlsc">Xử lý sự cố</a></li>
            </ul>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-8" style="border-left: 2px solid black;padding-left: 80px">
            <div id="tgtk">
                <h1 class="topic">
                    Trợ giúp tài khoản
                </h1>
                <h2 class="topic-sm">
                    Không thể đăng nhập
                </h2>
                <h5 class="text1">
                    Tên người dùng, mật khẩu hoặc địa chỉ email không chính xác?
                </h5>
                <p class="text2">Sử dụng công cụ đặt lại mật khẩu của chúng tôi.</p>
                <p class="text2">Sau đây là một vài trợ giúp nếu bạn vẫn không thể vào được:</p>
                <h3 class="text3">Không có tài khoản Spotify nào liên kết với địa chỉ email?</h3>
                <p class="text2">Nếu bạn thấy thông báo lỗi này, hãy thử lại với bất kỳ địa chỉ email nào khác bạn có.</p>
                <p class="text2">Mẹo: Kiểm tra hộp thư đến của bạn để tìm các email gửi từ Spotify. Nếu bạn có bất kỳ email nào gửi từ Spotify, thì có thể có một tài khoản đã liên kết với địa chỉ email đó.</p>
                <p class="text2">Nếu bạn không thể tìm thấy địa chỉ email đã kết nối với tài khoản Spotify, thì tài khoản của bạn có thể được kết nối với Facebook. Trên trang đăng nhập, hãy thử ĐĂNG NHẬP BẰNG FACEBOOK.</p>
                <h3 class="text3">Không có quyền truy cập vào địa chỉ email của tài khoản của bạn?</h3>
                <p class="text2">Trong trường hợp này, bạn không thể nhận đường liên kết để đặt lại mật khẩu. Nhưng bạn có một vài lựa chọn sau:</p>
                <ul class="text4">
                    <li>Lấy lại quyền truy cập vào địa chỉ email nếu có thể.</li>
                    <li>Liên hệ với chúng tôi và chúng tôi có thể cập nhật địa chỉ email cho bạn.</li>
                    <li>Tạo tài khoản mới và bắt đầu lại từ đầu.</li>
                </ul>
                <h3 class="text3">Liên kết đặt lại mật khẩu không hoạt động?</h3>
                <p class="text2">Nếu bạn nhận được thông báo “liên kết đặt lại mật khẩu không hợp lệ hoặc đã được sử dụng”, hãy thử gửi liên kết đặt lại mật khẩu mới và, không nhấp vào liên kết trong email của bạn, làm theo các bước sau:</p>
                <ol class="text4">
                    <li>Đi tới email đặt lại mật khẩu của bạn.</li>
                    <li>Nhấp chuột phải vào liên kết Đặt lại mật khẩu rồi chọn Sao chép liên kết . <br>
                        Lưu ý: Nếu bạn vô tình nhấp vào liên kết trước khi thực hiện việc này, thì bạn sẽ phải yêu cầu liên kết mới.</li>
                    <li>Truy cập vào trình duyệt web và mở cửa sổ riêng tư/ẩn danh.</li>
                    <li>Dán liên kết vào thanh địa chỉ.</li>
                    <li>Nhấn Enter và tiếp tục.</li>
                </ol>
                <h3 class="text3">Không nhận được email đặt lại mật khẩu?</h3>
                <p class="text2">Nếu yêu cầu đặt lại mật khẩu đã được gửi đi thành công, nhưng bạn không tìm được email:  </p>
                <ul class="text4">
                    <li>
                        Kiểm tra thư mục spam/rác.
                    </li>
                    <li>Kiểm tra các thư mục lọc khác (ví dụ: nếu bạn dùng Gmail, email đó có thể trong tab Social (Xã hội) hoặc Promotions (Quảng cáo)).</li>
                </ul>
            </div>
            <div id="tgtt" class="headd">
                <h1 class="topic">
                    Trợ giúp thanh toán
                </h1>
                <h2 class="topic-sm">
                    Quản lý chi tiết thanh toán
                </h2>
                <p class="text2">Cách cập nhật chi tiết thanh toán hoặc thay đổi phương thức thanh toán của bạn:  </p>
                <ol class="text4">
                    <li>
                        Đăng nhập vào trang tài khoản của bạn.
                    </li>
                    <li>Trong phần Gói của bạn, hãy nhấp vào CẬP NHẬT bên cạnh phương thức thanh toán. <br>
                        Lưu ý: Nếu gói của bạn được liên kết với đối tác, thì bạn sẽ cần liên hệ trực tiếp với họ để quản lý khoản thanh toán của mình.</li>
                    <li>Nhập một phương thức thanh toán mới. </li>
                </ol>
                <p class="text2">
                    Các thay đổi sẽ có hiệu lực kể từ ngày thanh toán tiếp theo của bạn.
                </p>
                <p class="text2">
                    Một số nhà cung cấp thanh toán có thể tính phí ủy quyền khi bạn cập nhật thông tin thanh toán của mình.
                </p>
            </div>
            <div id="tcdk" class="headd">
                <h1 class="topic">
                    Tùy chọn đăng ký
                </h1>
                <h2 class="topic-sm">
                    Premium
                </h2>
                <p class="text2">Premium mang đến trải nghiệm âm thanh Spotify tuyệt vời.</p>
                <ul class="text4">
                    <li>
                        Quyền stream chất lượng cao không giới hạn với hơn 50 triệu bài hát.
                    </li>
                    <li>Phát nhạc mà không cần kết nối Internet.</li>
                    <li>Đi nước ngoài thoải mái không bị hạn chế.</li>
                    <li>Không bị quảng cáo làm gián đoạn.</li>
                    <li>Số lần bỏ qua không giới hạn.</li>
                </ul>
                <p class="text2">Mẹo: Hãy xem thông tin so sánh giữa Premium với các tùy chọn gói đăng ký khác của chúng tôi.</p>
                <h3 class="text1">Bắt đầu</h3>
                <p>Truy cập vào <a href="/premium">www.spotify.com/premium</a> để đăng ký. <br>
                    Mẹo: Nếu bạn chưa từng dùng Premium, hãy dùng thử miễn phí!</p>
            </div>
            <div id="rtbm" class="headd">
                <h1 class="topic">
                    Quyền riêng tư & Bảo mật
                </h1>
                <h2 class="topic-sm">
                    Quyền dữ liệu và cài đặt quyền riêng tư
                </h2>
                <p class="text2">Quyền riêng tư và việc bảo mật dữ liệu cá nhân của bạn hiện và sẽ luôn là ưu tiên hàng đầu của chúng tôi. </p>
                <p class="text2">Đó là lý do chúng tôi đã thành lập Trung tâm bảo mật để nêu bật một số phần quan trọng của Chính sách quyền riêng tư, đồng thời cung cấp thêm thông tin cho bạn về các quyền và khả năng kiểm soát mà bạn có đối với dữ liệu cá nhân của mình.</p>
                <p class="text2">Để biết thêm thông tin về quyền dữ liệu và các tùy chọn cài đặt quyền riêng tư sẵn có cho bạn, hãy xem mục Hỏi & đáp bên dưới.</p>
            </div>
            <div id="bd" class="headd">
                <h1 class="topic">
                    Bắt đầu
                </h1>
                <h2 class="topic-sm">
                    Spotify là gì?
                </h2>
                <p class="text2">Spotify là dịch vụ phát trực tiếp nhạc, podcast và video kỹ thuật số cho phép bạn truy cập hàng triệu bài hát và các nội dung khác từ các nghệ sĩ trên khắp thế giới.</p>
                <p class="text2">Các chức năng cơ bản như phát nhạc hoàn toàn miễn phí, nhưng bạn cũng có thể chọn nâng cấp lên Spotify Premium. Bạn cũng có thể làm theo cách khác:</p>
                <ul class="text4">
                    <li>
                        Chọn nội dung bạn muốn nghe bằng cách Duyệt tìm và Tìm kiếm.
                    </li>
                    <li>Nhận các đề xuất từ các tính năng cá nhân hóa, như Discover Weekly, Radar Phát hành, và Daily Mix.</li>
                    <li>Xây dựng bộ sưu tập âm nhạc.</li>
                    <li>Xem  bạn bè, nghệ sĩ và những người nổi tiếng đang nghe những gì.</li>
                    <li>Tạo  các đài phát Radio của riêng bạn.</li>
                </ul>
                <p class="text2">Spotify khả dụng trên nhiều thiết bị, bao gồm máy tính, điện thoại, máy tính bảng, loa, TV và ô tô, và bạn có thể dễ dàng chuyển từ thiết bị này sang thiết bị khác bằng Spotify Connect.</p>
                <p class="text2">Hãy xem hướng dẫn này để bắt đầu biến cuộc sống của bạn thành bản soundtrack với Spotify.</p>
                <p class="text2">Mẹo: Bạn sáng tác nhạc ư? Hãy xem Spotify dành cho Nghệ sĩ.</p>
                <h3 class="text3">Tôi có thể ghi đĩa CD trong Spotify không?</h3>
                <p class="text2">Spotify là dịch vụ chỉ stream nhạc. Hoạt động cấp phép của chúng tôi thể hiện rằng không thể xuất nội dung của chúng tôi ra bên ngoài ứng dụng.</p>
            </div>
            <div id="dsp" class="headd">
                <h1 class="topic">
                    Danh sách phát
                </h1>
                <h2 class="topic-sm">
                    Playlist
                </h2>
                <p class="text2">Playlist chỉ là một tuyển tập các bài hát. Bạn có thể tạo playlist riêng, chia sẻ các playlist cũng như thưởng thức hàng triệu playlist khác do Spotify, các nghệ sĩ và người nghe khác trên thế giới tạo ra.</p>
                <p class="text2">Mẹo: Sắp xếp gọn gàng bằng các Thư mục playlist.</p>
                <h3 class="text3">Dành cho bạn </h3>
                <p class="text2">Nhiều playlist Spotify được tạo riêng cho bạn (như Discover Weekly và Release Radar) dựa trên thói quen nghe nhạc của bạn (nội dung bạn thích, chia sẻ, lưu, bỏ qua) cũng như thói quen nghe nhạc của những người khác có sở thích tương tự.</p>
                <p class="text2">Trên thiết bị di động, các playlist này nằm trong Trang chủ .</p>
                <p class="text2">Trên máy tính để bàn, bạn có thể thấy các playlist này trên phần bên trái trong THƯ VIỆN, dưới Dành cho bạn.</p>
                <h3 class="text3">Dành cho mọi người</h3>
                <p class="text2">Những playlist này do chính các chuyên gia âm nhạc trên khắp thế giới tuyển lựa. Bạn có thể tìm các playlist này trong mục Duyệt tìm trên máy tính để bàn hoặc Tìm kiếm trên thiết bị di động. Chúng tôi đã phân loại các playlist này theo Thể loại và tâm trạng dành cho bạn.</p>
                <p class="text2">Spotify đã cá nhân hóa một vài playlist trong số này, nên bạn có thể nhận thấy các danh sách bản nhạc không giống với người khác. Ví dụ: nếu một playlist có "các bài hit dễ hát cùng", thì sẽ bao gồm các bài hát mà bạn thuộc lời!</p>
            </div>
            <div id="tn" class="headd">
                <h1 class="topic">
                    Tính năng
                </h1>
                <h2 class="topic-sm">
                    Hát Theo
                </h2>
                <p class="text2">Hãy hát cùng Spotify! Xem lời bài hát của nhiều bản nhạc bạn yêu thích khi ca sĩ hát (hay đọc rap hoặc gào to).</p>
                <p class="text2">Lưu ý: Không phải bài hát nào cũng có lời bát hát. </p>
                <h3 class="text3">Máy tính để bàn</h3>
                <ul class="text4">
                    <li>Phát một bài hát.</li>
                    <li>Nhấp vào biểu tượng micrô ở góc dưới cùng bên phải. <br>
                        Mẹo: Bạn có thể thay đổi nội dung hiển thị phía sau lời bài hát! Nhấp vào TUỲ CHỌN để chọn chủ đề rồi chọn trong số các ảnh động thú vị hoặc ảnh tĩnh.</li>
                </ul>
            </div>
            <div id="htcd" class="headd">
                <h1 class="topic">
                    Hệ thống & Cài đặt
                </h1>
                <h2 class="topic-sm">
                    Yêu cầu hệ thống
                </h2>
                <p class="text2">Sau đây là các yêu cầu hệ thống khi sử dụng Spotify và truy cập vào nội dung Spotify thông qua ứng dụng Spotify:</p>
                <p class="text2">Hệ điều hành</p>
                <ol class="text4">
                    <li>iOS: iOS 11 trở lên</li>
                    <li>Android: Hệ điều hành Android 4.1 trở lên</li>
                    <li>Mac	Hệ: điều hành X 10.10 trở lên</li>
                    <li>Windows: Máy tính để bàn và máy tính xách tay chạy Windows 7 trở lên</li>
                </ol>
                <p class="text2">Bạn không có đủ dung lượng để cài đặt Spotify? Hãy xem Spotify Lite.</p>
                <p class="text2">Spotify cũng phát qua một số hệ thống âm thanh, TV và hệ thống âm thanh nổi trên ô tô. Vui lòng liên hệ với nhà sản xuất thiết bị của bạn để xác định xem thiết bị có hỗ trợ Spotify không, và nếu có thì làm cách nào để kích hoạt.</p>
                <p class="text2">Lưu ý: Ứng dụng Spotify có thể khác nhau tùy thuộc vào thiết bị và hệ điều hành. Bạn nên chạy chương trình cơ sở mới nhất trên thiết bị của mình để có được trải nghiệm tốt nhất. </p>
                <h3 class="text3">
                    Trình phát trên web
                </h3>
                <p class="text2">Trình phát trên web được các trình duyệt web sau hỗ trợ: <br>
                    Chrome<br>
                    Firefox<br>
                    Edge<br>
                    Opera</p>
                <p class="text2">Chỉ có thể truy cập vào nội dung Spotify bằng ứng dụng Spotify, trang web của trình phát trên web hoặc các ứng dụng khác do Spotify ủy quyền.</p>
            </div>
            <div id="xlsc" class="headd end">
                <h1 class="topic">
                    Xử lý sự cố
                </h1>
                <h2 class="topic-sm">
                    Cộng đồng Spotify
                </h2>
                <p class="text2">Cộng đồng Spotify là nơi hàng nghìn người dùng Spotify truy cập để nhận sự trợ giúp và giúp đỡ những người khác. Trong Cộng đồng, bạn có thể:</p>
                <ol class="text4">
                    <li>Tìm kiếm trợ giúp trong các chủ đề có sẵn hoặc đặt một câu hỏi.</li>
                    <li>Chọn các mẹo và thủ thuật mới.</li>
                    <li>Đề xuất các ý tưởng về cách chúng tôi có thể cải thiện ứng dụng hoặc hỗ trợ các ý tưởng hiện có.</li>
                    <li>Trò chuyện về âm nhạc và chia sẻ playlist của bạn.</li>
                </ol>
                <p class="text2">Để tham gia, chỉ cần nhấn vào Đăng nhập ở góc trên bên phải của Trang chủ Cộng đồng để đăng ký bằng tài khoản Spotify của bạn.</p>
                <p class="text2">Nếu bạn mới tham gia Cộng đồng, hãy xem Hướng dẫn cho Người mới gia nhập Cộng đồng để nhận được lời khuyên khi bắt đầu, nơi tìm các nội dung, điều cần chú ý, quy ước của Cộng đồng và nhiều nội dung khác.</p>
                <h3 class="text3">Trở thành một Rock Star với Cộng đồng Spotify</h3>
                <p class="text2">Nếu bạn am hiểu về Spotify, hãy chia sẻ hiểu biết của mình! Chương trình Spotify Rock Star tuyển mộ những người dùng nhiều kinh nghiệm để trợ giúp trên diễn đàn Cộng đồng, hay trên Twitter, nhằm kiếm điểm và nhận phần thưởng.</p>
                <p class="text2">Một số phần thưởng mà Star có thể nhận được bao gồm:</p>
                <ul class="text4">
                    <li>Spotify Premium.</li>
                    <li>Phần thưởng như áo phông, áo khoác có mũ, bút, hình dán, tai nghe và nhiều phần thưởng khác.</li>
                    <li>Cuộc gọi với nhân viên.</li>
                    <li>Chuyến đi tới Trụ sở chính của Spotify được đài thọ toàn bộ chi phí.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <%- include('footer') -%>
</footer>
</body>
</html>