<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <link rel="stylesheet" href="css/taixuong.css" type="text/css"/>
    <title>Tải xuống Spotify</title>

</head>
<body>



<div class='brand'>
    <%- include('header')-%>
</div>

<div class='bodymain'>
    <div class="download">
        <div class='container'>
            <div class="downmain">
                <div class="downcontent">
                    <div class="downtext">
                        <h1>Nhấp vào tệp cài đặt để hoàn tất.</h1>
                        <p>Nếu quá trình tải xuống không bắt đầu, hãy <a href="#">thử lại.</a> <br> Bạn gặp sự cố? <a href="#">Truy cập vào Microsoft Store</a> để tải xuống.</p>
                    </div>
                    <div class="downcomputer">
                        <img src="https://www-growth.scdn.co/static/download/laptop.svg" class="laptop" width="250px" height="147.14px"/>
                        <img src="https://www-growth.scdn.co/static/download/green-circle.svg" class="o" width="62.5px" height="62.5px"/>
                        <img src="https://www-growth.scdn.co/static/download/green-success-check.svg" class="v" width="20px" height="16.46px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="getit">
        <div class="container">
            <h1>Phủ sóng âm nhạc trên cả thiết bị di động và máy tính bảng.</h1>
            <p>Nghe nhạc trên điện thoại hay máy tính bảng hoàn toàn miễn phí, dễ dàng và thú vị.</p>
            <div class="getit_img">
                <a href="#"><img src="https://www-growth.scdn.co/static/badges/apple/int.png"/></a>
                <a href="#"><img src="https://www-growth.scdn.co/static/badges/google/int.png"/></a>
                <a href="#"><img src="https://www-growth.scdn.co/static/badges/microsoft-windows/int.png"/></a>
            </div>
        </div>
    </div>

    <div class="device">
        <div class="container">
            <div class="devicemain">
                <img src="https://www-growth.scdn.co/static/download/all-devices.svg" width="480px" height="173.24px"/>
            </div>
            <h1>Một tài khoản, nghe mọi nơi.</h1>
            <p>THIẾT BỊ DI ĐỘNG<span>.</span> MÁY TÍNH<span>.</span> MÁY TÍNH BẢNG<span>.</span> Ô TÔ<span>.</span> <a href="#">PLAYSTATION®</a><span>.</span> <a href="#">XBOX</a><span>.</span> <a href="#">TV</a><span>.</span> <a href="#"> LOA </a><span>.</span> <a href="#">TRÌNH PHÁT TRÊN WEB</a></p>
        </div>
    </div>
</div>

<footer >
    <%- include('footer') -%>
</footer>




</body>
</html>