<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <link rel="stylesheet" href="css/trogiup.css" type="text/css"/>
    <title>Hỗ trợ - Spotify</title>


</head>
<body>

<div class='brand'>
    <%- include('header')-%>
</div>

<div class='bodymain'>
    <div class="search">
        <div class='container'>
            <div class="searchmain">
                <div class="searchbox">
                    <h1>Chúng tôi có thể giúp bạn như thế nào?</h1>
                    <div class="searchcontainer">
                        <form method="get" action="/support">
                            <input name="search" type="text" placeholder="Tìm kiếm"/>
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="account" id="account">
        <div class="container">
            <a class="muiten" href="/help#account"><i class="fas fa-angle-double-down fa-2x"></i></a>
            <div class="accountmain">
                <div class="col">
                    <div class="row">
                        <div class="categories col-xs-4">
                            <h3>Tài khoản & Thanh toán</h3>
                            <ul>
                                <li><a href="/support" class="m">Trợ giúp tài khoản</a></li>
                                <li><a href="/support" class="m">Trợ giúp thanh toán</a></li>
                                <li><a href="/support" class="m">Tùy chọn đăng ký</a></li>
                                <li><a href="/support" class="m">Quyền riêng tư & Bảo mật</a></li>
                            </ul>
                        </div>
                        <div class="categories col-xs-4">
                            <h3>Sử dụng Spotify</h3>
                            <ul>
                                <li><a href="/support" class="m">Bắt đầu</a></li>
                                <li><a href="/support" class="m">Danh sách phát</a></li>
                                <li><a href="/support" class="m">Tính năng</a></li>
                                <li><a href="/support" class="m">Hệ thống & Cài đặt</a></li>
                                <li><a href="/support" class="m">Xử lý sự cố</a></li>
                            </ul>
                        </div>
                        <div class="categories col-xs-4">
                            <h3>Nghe ở mọi nơi</h3>
                            <ul>
                                <li><a href="/support" class="m">Loa</a></li>
                                <li><a href="/support" class="m">TV</a></li>
                                <li><a href="/support" class="m">Ô tô</a></li>
                                <li><a href="/support" class="m">Chơi game</a></li>
                                <li><a href="/support" class="m">Đồng hồ thông minh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="community" id="community">
        <div class="container">
            <div class="communitymain">
                <a class="muiten" href="/help#community"><i class="fas fa-angle-double-down fa-2x"></i></a>
                <h1>Truy cập cộng đồng</h1>
                <p>Bạn có câu hỏi? Hãy tìm câu trả lời từ Cộng đồng các chuyên gia trên <br>toàn thế giới của chúng tôi!</p>
            </div>
            <div class="md">
                <a href="/support" class="anwser">TÌM CÂU TRẢ LỜI</a>
            </div>
        </div>
    </div>

    <div class="feature" id="feature">
        <div class="container">
            <a class="muiten" href="/help#feature"><i class="fas fa-angle-double-down fa-2x"></i></a>
            <h1 class="textcenter">Cách sử dụng các tính năng</h1>
            <div class="featuremain">
                <div class="featurebox">
                    <div class="ctbox">
                        <div class="ctboxcontainer">
                            <h3>BẮT ĐẦU</h3>
                        </div>
                        <div class="ctboxcontainer">
                            <h3>VÀ XEM NHỮNG ĐIỀU NÀY</h3>
                        </div>
                    </div>

                    <div class="ctbox">
                        <div class="ctboxcontainer">
                            <h2>Tìm kiếm</h2>
                            <p>Tìm kiếm một bài hát, album, nghệ sĩ, hãng thu âm, <br> thể loại, tâm trạng, hoạt động, hoặc bạn bè trên
                                <br> Spotify.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                        <div class="ctboxcontainer">
                            <h2>Radio</h2>
                            <p>Bật tới một trong nhiều đài phát của chúng tôi hoặc <br> tự tạo dựa trên nghệ sĩ, album hoặc bài hát yêu
                                <br> thích của bạn.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                    </div>

                    <div class="ctbox">
                        <div class="ctboxcontainer">
                            <h2>Playlist</h2>
                            <p>Playlist giống như những bản tổng hợp bạn tạo trên <br> Spotify. Bạn có thể chia sẻ, theo dõi và kết hợp
                                <br> playlist với bạn bè.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                        <div class="ctboxcontainer">
                            <h2>Khám phá Hàng tuần</h2>
                            <p>Tự hỏi mình tìm nhạc mới như thế nào? Hàng tuần, <br> Spotify tạo một playlist dựa trên sở thích của bạn, có
                                <br> thể gồm những bài bạn chưa nghe bao giờ!</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                    </div>

                    <div class="ctbox">
                        <div class="ctboxcontainer">
                            <h2>Nghe Offline</h2>
                            <p>Phát nhạc ở khắp mọi nơi, kể cả không có internet! <br> Chỉ dành cho đăng ký Premium.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                        <div class="ctboxcontainer">
                            <h2>Spotify trên Chromecast</h2>
                            <p>Phát Spotify trên dịch vụ yêu thích khác của bạn: <br> Chromecast.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                    </div>

                    <div class="ctbox">
                        <div class="ctboxcontainer ctboxctn">
                            <h2>Chia sẻ</h2>
                            <p>Chia sẻ nhạc với bạn bè và khám phá họ đang nghe <br> gì.</p>
                            <a href="/support">ĐỌC THÊM</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="spotify" id="spotify">
        <div class="container">
            <a class="muiten" href="/help#spotify"><i class="fas fa-angle-double-down fa-2x"></i></a>
            <div class="sptf">
                <h1>Vẫn chưa dùng Spotify?</h1>
                <p>Hơn 30 triệu bản nhạc; hàng ngàn playlist tuyển chọn; Khám phá Hàng <br>tuần; Spotify Running; Radio; Chromecast, dàn âm thanh, ô-tô, TV, và
                    <br>tích hợp PlayStation; tạo và chia sẻ playlist với bạn bè... Tất cả đã sẵn <br>sàng dành cho bạn. </p>
                <div class="down">
                    <a href="/download" class="download">TẢI SPOTIFY</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer >
    <%- include('footer') -%>
</footer>


</body>
</html>